<div class="row">
    <div class="col-md-12">
      <div class="card ">
      <div class="card-header">
                  <div class="row">
                      <div class="col-8">
                          <h4 class="card-title">Ajouter un bulletin</h4>
                      </div>
                  </div>
              </div>
        <div class="card-body">
  
        <div class="row">
          <div class="col-lg-12 margin-tb">
              <div class="pull-right">
                  <a class="btn btn-outline-danger" routerLink="/listeBulletin" title="Go back"> <i class="fas fa-backward "></i> </a>
              </div>
          </div>
      </div>
  
      <form class="form" [formGroup]="ajouterBulletin" (ngSubmit) = "onSubmit()">
              <div class="row justify-content-center">
                 
              <div class="col-xs-12 col-sm-6 col-lg-6 form_middle pb-5">
                 
                  <div class="col-lg-12 margin-tb p-0">
                  </div>
  
                  <div class="col-xs-12">
                    <div class="form-group">
                        <strong>Nom :</strong>
                        <input type="text" formControlName="nom"  class="form-control"  placeholder="nom de l'étudiant" >
                    </div>
                </div>

                <div class="col-xs-12">
                  <div class="form-group">
                      <strong>Prénom :</strong>
                      <input type="text" formControlName="prenom" class="form-control"  placeholder="prénom de l'étudiant">
                  </div>
              </div>

             


              <div class="col-xs-12">
                  <div class="form-group">
                      <strong>Semestre :</strong>
                      <select formControlName="semestre"class="form-control" id="semestre" required>
                          <option value="1">Semestre1</option>
                          <option value="2">Semestre2</option>
                          <option value="3">Semestre3</option>
                          <option value="4">Semestre4</option>
                          <option value="5">Semestre5</option>
                          <option value="6">Semestre6</option>
                      </select>
                  </div>
              </div>

              <div class="col-xs-12">
                  <div class="form-group">
                      <strong>Filière :</strong>
                      <select formControlformControlName="Filiere" id="filiere" class="form-control" required>
                          <option value="RGL">Réseau et genie logiciel</option>
                          <option value="BF">Banque finance</option>
                          <option value="CDM">Communition digitale et web marketing</option>
                          <option value="NM">Négociation et multimédia</option>
                          <option value="MRH">Managemente des Ressources humaine</option>
                          <option value="GTL">Gestion des transports logistique</option>
                          <option value="CG">Audit et controle de gestion</option>
                          <option value="DECO">Expert Comptable</option>
                      </select>
                  </div>
              </div>
               
              <div class="col-xs-12">
                  <div class="form-group">
                      <strong>Type de bulletin :</strong>
                      <Select formControlName="type" class="form-control" id="type" required>
                          <option value="session1">Première Session</option>
                          <option value="session2">Deuxième Session</option>
                      </Select>
                  </div>
              </div>
              
              <div class="col-xs-12">
                  <div class="form-group">
                      <strong>Niveau :</strong>
                      <input type="number" formControlName="niveau" class="form-control"  min="1" max="3">
                  </div>
              </div>

              
              
              <div class="col-xs-12">
                <div class="form-group">
                    <strong>Programme :</strong>
                    <input id="file" type="file" class="form-control" accept="image/*"
                        (change)="selectFile($event)" style="height: 12px;opacity: 1;" >
                </div>
                <div *ngIf="currentFileUpload" class="progress mt-2">
                    <div class="progress-bar progress-bar-info" role="progressbar"
                        attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"
                        [ngStyle]="{ width: percentage + '%' }">
                        {{ percentage }}%
                    </div>
                </div>
            </div>

                  <div class="col-xs-12 mt-4">
                      <button type="submit" class="btn btn-primary btn-full-width">Enregistrer</button>
                  </div>
  
  
              </div>
  
          </div>
  
      </form>
      </div>
      </div>
      </div>
  </div>