<div class="row">
    <div class="col-md-12">
      <div class="card ">
      <div class="card-header">
                  <div class="row">
                      <div class="col-8">
                          <h4 class="card-title">Gestion des notes</h4>
                      </div>
                      <div class="col-4 text-right">
                          <a routerLink="/registerNote" class="btn btn-sm btn-primary">Ajout des notes</a>
                      </div>
                  </div>
              </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>Nom <br> de l'étudiant </th>
                  <th>Prénom <br> de l'étudiant </th> 
                  <th>Filière </th>
                  <th> Niveau </th>
                  <th>Matière </th>
                  <th>Note 1</th>
                  <th>Note 2</th>
                  <th>Note 3</th>
                  <th>Note 4</th>
                  <th>Devoir</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let filiere of datas">
                  <td>{{filiere.nom}} </td>
                  <td>{{filiere.prenom}} </td>
                  <td>{{filiere.Filiere}}</td>
                  <td>{{filiere.niveau}}</td>
                   <td>{{filiere.matiere}}</td>
                   <td>{{filiere.note1}}</td>
                   <td>{{filiere.note2}}</td>
                   <td>{{filiere.note3}}</td>
                   <td>{{filiere.note4}}</td>
                   <td>{{filiere.devoir}}</td>
                  <td>
                    <button type="submit" class="ml-2" title="delete"
                        style="border: none; background-color:transparent;"
                        (click)="delete(filiere.id)">
                        <i class="fas fa-trash fa-lg text-danger">Del</i>
                    </button>
                  </td>
                  <td>
                    <a routerLink="/modifierNote">
                        <i class="fas fa-edit fa-lg"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="paginate">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  