<div class="row">
    <div class="col-md-12">
      <div class="card ">
      <div class="card-header">
                  <div class="row">
                      <div class="col-8">
                          <h4 class="card-title">Gestion des Administrateurs</h4>
                      </div>
                      <div class="col-4 text-right">
                          <a routerLink="/registerAdmin" class="btn btn-sm btn-primary">Ajouter un Administrateur</a>
                      </div>
                  </div>
              </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>Nom </th>
                  <th>Prénom</th>
                  <th>Service </th> 
                  <th>Date naissance</th>
                  <th>Email </th>
                  <th>Numéro / Whatsapp</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let etudiant of datas">
                  <td>{{etudiant.payload._delegate.doc._document.data.value.mapValue.fields.nom.stringValue}} </td>
                  <td>{{etudiant.payload._delegate.doc._document.data.value.mapValue.fields.prenom.stringValue}} </td>
                  <td>{{etudiant.payload._delegate.doc._document.data.value.mapValue.fields.service.stringValue}} </td>
                  <td>{{etudiant.payload._delegate.doc._document.data.value.mapValue.fields.date_naissance.stringValue}} </td>
                  <td>{{etudiant.payload._delegate.doc._document.data.value.mapValue.fields.email.stringValue}} </td>
                  <td>{{etudiant.payload._delegate.doc._document.data.value.mapValue.fields.numero.stringValue}} / {{etudiant.payload._delegate.doc._document.data.value.mapValue.fields.num_what.stringValue}}</td>
                  <td>
                    <button type="submit" class="ml-2" title="delete"
                        style="border: none; background-color:transparent;"
                        (click)="delete(etudiant.id)">
                        <i class="fas fa-trash fa-lg text-danger">Del</i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="paginate">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  