<div class="row">

    <div class="col-md-12">
      <div class="card ">
      <div class="card-header">
                  <div class="row">
                      <div class="col-8">
                          <h4 class="card-title">Gestion des Etudiants</h4>
                      </div>
                      <div class="col-4 text-right">
                          <a routerLink="/registerEtudiant" class="btn btn-sm btn-primary">Ajouter un étudiant</a>
                      </div>
                  </div>
              </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>Nom </th>
                  <th>Prénom</th>
                  <th>Filière </th> 
                  <th>Date naissance</th>
                  <th>niveau </th>
                  <th>Email </th>
                  <th>Numéro</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let etudiant of datas">
                  <td>{{etudiant.nom_etudiant}} </td>
                  <td>{{etudiant.prenom_etudiant}} </td>
                  <td>{{etudiant.Filiere}} </td>
                  <td>{{etudiant.date_naissance}} </td>
                  <td>Licence :{{etudiant.niv_etudiant}} </td>
                  <td>{{etudiant.email}} </td>
                  <td>{{etudiant.num_etudiant}} </td>
                  <td>
                    <button type="submit" class="ml-2" title="delete"
                        style="border: none; background-color:transparent;"
                        (click)="delete(etudiant.id)">
                        <i class="fas fa-trash fa-lg text-danger">Del</i>
                    </button>
                  </td>
                  <td>
                    <a routerLink="/modifierEtudiant">
                        <i class="fas fa-edit fa-lg"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="paginate">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  