<div class="row">
    <div class="col-md-12">
      <div class="card ">
      <div class="card-header">
                  <div class="row">
                      <div class="col-8">
                          <h4 class="card-title">Gestion parent</h4>
                      </div>
                      <div class="col-4 text-right">
                          <a routerLink="/registerParent" class="btn btn-sm btn-primary">Ajouter un Parent</a>
                      </div>
                  </div>
              </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table tablesorter " id="">
              <thead class=" text-primary">
                <tr>
                  <th>Nom </th> 
                  <th>Prénom</th>
                  <th>Numéro / whatsapp</th>
                  <th>mail</th>
                  <th>Nom de l'etudiant</th>
                  <th>Prénom de l'etudaint</th>
                  <th>Filière </th>
                  <th>Niveau</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let filiere of datas">
                  <td>{{filiere.nom}} </td>
                  <td>{{filiere.prenom}} </td>
                  <td>{{filiere.num_simple}} / {{filiere.num_whatsapp}}</td>
                  <td>{{filiere.mail}}</td>
                  <td>{{filiere.nom_etudiant}}</td>
                  <td>{{filiere.prenom_etudiant}}</td>
                  <td>{{filiere.filiere}}</td>
                  <td>{{filiere.niveau}}</td>
                  <td>
                    <button type="submit" class="ml-2" title="delete"
                        style="border: none; background-color:transparent;"
                        (click)="delete(filiere.id)">
                        <i class="fas fa-trash fa-lg text-danger">Del</i>
                    </button>
                  </td>
                  <td>
                    <a routerLink="/modifierParent">
                        <i class="fas fa-edit fa-lg"></i>
                    </a>
                  </td>
                </tr>
              </tbody>
            </table>
            <div class="paginate">
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  