<div class="sidebar">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a routerLink="#" class="simple-text logo-normal">PIGIER-Parent : 
                Relation<br> Entre <br>Parent ,Etudaint ,Administration universitaire
            </a>
        </div>
        <ul class="nav">
            <li>
            
            
            <li class="active "  >
                <a routerLink="/rendez-vous">
                    <i class="tim-icons icon-single-copy-04"></i>
                    <p>Demande de rendez-vous</p>
                </a>
            </li>
             

            <li class="active "  >
                <a routerLink="/listeProfesseur">
                    <i class="tim-icons icon-paper"></i>
                    <p>Liste des professeurs</p>
                </a>
            </li>
             

            <li class="active "  >
                <a routerLink="/registerFiliere">
                    <i class="tim-icons icon-zoom-split"></i>
                    <p>Créer une filière</p>
                </a>
            </li>

            <li class="active "  >
                <a routerLink="">
                    <i class="tim-icons icon-wallet-43"></i>
                    <p>Liste filière</p>
                </a>
            </li>

        </ul>
    </div>
</div>