<div class="sidebar" style="    background: #121218;
">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a routerLink="/etude" class="simple-text logo-normal">PIGIER-BENIN: 
                Gestion<br> des etudes
            </a>
        </div>
        <ul class="nav">            
            <li class="active "  >
                <a routerLink="/rendezvous">
                    <i class="tim-icons icon-wallet-43"></i>
                    <p>rendezvous</p>
                </a>
            </li>
            <li class="active "  >
                <a routerLink="/registerProgramme">
                    <i class="tim-icons icon-wallet-43"></i>
                    <p>Enregistrer les <br> programmes</p>
                </a>
            </li>
            <li class="active "  >
                <a routerLink="/listeProgramme">
                    <i class="tim-icons icon-wallet-43"></i>
                    <p>Liste des <br> programmes</p>
                </a>
            </li>
            <li class="active "  >
                <a routerLink="/registerProfesseur">
                    <i class="tim-icons icon-wallet-43"></i>
                    <p>Ajouter un <br> professeur</p>
                </a>
            </li>
            <li class="active "  >
                <a routerLink="/listeProfesseur">
                    <i class="tim-icons icon-wallet-43"></i>
                    <p>liste des <br> professeurs</p>
                </a>
            </li>
        </ul>
    </div>
</div>