<div class="row">
    <div class="col-md-12">
      <div class="card ">
      <div class="card-header">
                  <div class="row">
                      <div class="col-8">
                          <h4 class="card-title">Ajouter  Parent</h4>
                      </div>
                  </div>
              </div>
        <div class="card-body">
  
        <div class="row">
          <div class="col-lg-12 margin-tb">
              <div class="pull-right">
                  <a class="btn btn-outline-danger" routerLink="/listeParent" title="Go back"> <i class="fas fa-backward "></i> </a>
              </div>
          </div>
      </div>
  
      <form class="form" [formGroup]="registerForm" (ngSubmit) = "onSubmit()">
              <div class="row justify-content-center">
                 
              <div class="col-xs-12 col-sm-6 col-lg-6 form_middle pb-5">
                 
                  <div class="col-lg-12 margin-tb p-0">
                  </div>
  
                  <div class="col-xs-12">
                      <div class="form-group">
                          <strong>Matière :</strong>
                          <input type="text" formControlName="matiere"  class="form-control" placeholder="la matiere">
                        </div>
                  </div>
                  <div class="col-xs-12">
                  <div class="form-group">
                    <strong>Date :</strong>
                    <input type="date" formControlName="date"  class="form-control" placeholder=" le jour">
                </div>
            </div>

            <div class="col-xs-12">
            <div class="form-group">
                <strong>Professeur :</strong>
                <input type="text" formControlName="professeur"  class="form-control" placeholder="nom et pénom du professeur">
              </div>
        </div>

    <div class="col-xs-12">
        <div class="form-group">
            <strong>Filière :</strong>
            <select formControlName="filiere" id="Filiere" class="form-control" required>
                <option value="RGL">Réseau et genie logiciel</option>
                <option value="BF">Banque finance</option>
                <option value="CDM">Communition digitale et web marketing</option>
                <option value="NM">Négociation et multimédia</option>
                <option value="MRH">Managemente des Ressources humaine</option>
                <option value="GTL">Gestion des transports logistique</option>
                <option value="CG">Audit et controle de gestion</option>
                <option value="DECO">Expert Comptable</option>
            </select>
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            <strong>Niveau :</strong>
            <input type="number" formControlName="niveau"  class="form-control" min="1" max="3">
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            <strong>Mois :</strong>
            <input type="text" formControlName="mois" class="form-control" placeholder="mois">
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            <strong>Année universitaire :</strong>
            <input type="text" formControlName="annee" class="form-control" placeholder="ex:2021-2022">
        </div>
    </div>

    <div class="col-xs-12">
        <div class="form-group">
            <strong>Heure :</strong>
            <input type="text" formControlName="heure" class="heure" placeholder="ex:13h">
        </div>
    </div>

                  <div class="col-xs-12 mt-4">
                      <button type="submit" class="btn btn-primary btn-full-width">Enregistrer</button>
                  </div>
  
  
              </div>
  
          </div>
  
      </form>
      </div>
      </div>
      </div>
  </div>