<div class="row">
    <div class="col-md-12">
      <div class="card ">
      <div class="card-header">
                  <div class="row">
                      <div class="col-8">
                          <h4 class="card-title">Ajouter Note</h4>
                      </div>
                  </div>
              </div>
        <div class="card-body">
  
        <div class="row">
          <div class="col-lg-12 margin-tb">
              <div class="pull-right">
                  <a class="btn btn-outline-danger" routerLink="/listeNote" title="Go back"> <i class="fas fa-backward "></i> </a>
              </div>
          </div>
      </div>
  
      <form class="form" [formGroup]="registerForm" (ngSubmit) = "onSubmit()">
              <div class="row justify-content-center">
                 
              <div class="col-xs-12 col-sm-6 col-lg-6 form_middle pb-5">
                 
                  <div class="col-lg-12 margin-tb p-0">
                  </div>
  
                  <div class="col-xs-12">
                      <div class="form-group">
                          <strong>Nom :</strong>
                          <input type="text" formControlName="nom" class="form-control" placeholder="votre nom" required>
                      </div>
                  </div>

                  <div class="col-xs-12">
                    <div class="form-group">
                        <strong>Prénom :</strong>
                        <input type="text" formControlName="prenom" class="form-control" placeholder="votre prénom">
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="form-group">
                        <strong>Filière :</strong>
                        <select formControlName="Filiere" id="filiere" class="form-control" required>
                            <option *ngFor="let filiere of datas" value={{filiere.abreviation}} >{{filiere.nom}} </option>
                        </select>
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="form-group">
                        <strong>Niveau :</strong>
                        <select formControlName="niveau" id="niveau"class="form-control" required>
                            <option *ngFor="let niveau of datas1" value={{niveau.nom}} >{{niveau.nom}} </option>
                        </select>
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="form-group">
                        <strong>Matière :</strong>
                        <select formControlName="matiere" id="matiere"class="form-control" required>
                            <option *ngFor="let matiere of datas2" value={{matiere.nom}} >{{matiere.nom}} </option>
                        </select>                    </div>
                </div>



                <div class="col-xs-12">
                    <div class="form-group">
                        <strong>Note 1 :</strong>
                        <input type="text" formControlName="note1" class="form-control" placeholder="note 1">
                    </div>
                </div>





                <div class="col-xs-12">
                    <div class="form-group">
                        <strong>Note 2 :</strong>
                        <input type="text" formControlName="note2" class="form-control" placeholder="note 2">
                    </div>
                </div>




                <div class="col-xs-12">
                    <div class="form-group">
                        <strong>Note 3 :</strong>
                        <input type="text" formControlName="note3" class="form-control" placeholder="note 3">
                    </div>
                </div>


                <div class="col-xs-12">
                    <div class="form-group">
                        <strong>Note 4 :</strong>
                        <input type="text" formControlName="note4" class="form-control" placeholder="note 4">
                    </div>
                </div>
                  
                <div class="col-xs-12">
                    <div class="form-group">
                        <strong>Devoir :</strong>
                        <input type="text" formControlName="devoir" class="form-control" placeholder="note de dovir">
                    </div>
                </div>


                  <div class="col-xs-12 mt-4">
                      <button type="submit" class="btn btn-primary btn-full-width">Enregistrer</button>
                  </div>
  
  
              </div>
  
          </div>
  
      </form>
      </div>
      </div>
      </div>
  </div>