<div class="row">
    <div class="col-md-12">
        <div class="card ">
            <div class="card-header">
                <div class="row">
                    <div class="col-8">
                        <h4 class="card-title">Ajouter Etudiant</h4>
                    </div>
                </div>
            </div>
            <div class="card-body">

                <div class="row">
                    <div class="col-lg-12 margin-tb">
                        <div class="pull-right">
                            <a class="btn btn-outline-danger" routerLink="/listeEtudiant" title="Go back"> <i
                                    class="fas fa-backward "></i> </a>
                        </div>
                    </div>
                </div>

                <form class="form" [formGroup]="ajouterEtudiant" (ngSubmit)="onSubmit()">
                    <div class="row justify-content-center">

                        <div class="col-xs-12 col-sm-6 col-lg-6 form_middle pb-5">

                            <div class="col-lg-12 margin-tb p-0">
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <strong>Nom :</strong>
                                    <input type="text" formControlName="nom_etudiant" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <strong>Prénom :</strong>
                                    <input type="text" formControlName="prenom_etudiant" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <strong>email :</strong>
                                    <input type="email" formControlName="email" class="form-control" required>
                                </div>
                            </div>


                            <div class="col-xs-12">
                                <div class="form-group">
                                    <strong>numero :</strong>
                                    <input type="tel" formControlName="num_etudiant" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <strong>Date naissance :</strong>
                                    <input type="date" formControlName="date_naissance" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <strong>Date inscription/réinscription :</strong>
                                    <input type="date" formControlName="date_inscription" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <strong>Filière :</strong>
                                    <select formControlformControlName="Filiere" id="filiere" class="form-control"
                                        required>
                                        <option *ngFor="let filiere of datas" value={{filiere.abreviation}} >{{filiere.nom}} </option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <strong>Année Universitaire :</strong>
                                    <input type="text" formControlName="an_uinver" class="form-control" required>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <strong>Niveau :</strong>
                                        <select formControlName="niv_universitaire" id="niveau" class="form-control" required>
                                            <option *ngFor="let niveau of datas1" value={{niveau.nom}} >{{niveau.nom}} </option>
                                        </select>
                                </div>
                            </div>

                            <div class="col-xs-12">
                                <div class="form-group">
                                    <strong>Profil étudiant :</strong>
                                    <input id="file" type="file" class="form-control" accept="image/*"
                                        (change)="selectFile($event)" style="height: 12px;opacity: 1;" formControlName="password">
                                </div>
                                <div *ngIf="currentFileUpload" class="progress mt-2">
                                    <div class="progress-bar progress-bar-info" role="progressbar"
                                        attr.aria-valuenow="{{ percentage }}" aria-valuemin="0" aria-valuemax="100"
                                        [ngStyle]="{ width: percentage + '%' }">
                                        {{ percentage }}%
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 mt-4">
                                <button type="submit" class="btn btn-primary btn-full-width">Enregistrer</button>
                            </div>


                        </div>

                    </div>

                </form>
            </div>
        </div>
    </div>
</div>