<div class="frame_content">
    <div class="row dashboard">
        <div class="col-lg-12">
            <h3>PIGIER-PARENT
            </h3>
        </div>
    </div>
        <div class="row dashboard">
        <div class="col-lg-2">
                <a routerLink="/listeNote">
                    <div class="card btn btn-primary pl-3 pt-4 pb-5">
                        <div class="card-body pl-0 text-left">
                            Liste des Notes
                            <i class="fa fa-arrow-right" style="color:#DBAF23;"></i>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category text-success">Liste des bulletins</h5>
                        <h3 class="card-title"><i class="tim-icons icon-paper text-success"></i>
                        </h3>
                    </div>
                        <div class="card-body link text-right pt-1 pb-2 text-success">
                            <a routerLink="/listebulletin">
                                <i class="fa fa-arrow-right pull-right pl-2"></i>
                            </a>
                    </div>
                </div>
            </div>
            

            <div class="col-lg-3">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category text-info">Enregistrer les notes</h5>
                        <h3 class="card-title"><i class="tim-icons icon-send text-info"></i> 
                        </h3>
                    </div>
                    <div class="card-body link text-right pt-1 pb-2 text-info">
                            <a routerLink="/registerNote">
                                 
                                <i class="fa fa-arrow-right pull-right pl-2"></i>
                            </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category text-info">Enregistrer les bulletins</h5>
                        <h3 class="card-title"><i class="tim-icons icon-send text-info"></i> 
                        </h3>
                    </div>
                    <div class="card-body link text-right pt-1 pb-2 text-info">
                            <a routerLink="/registerBulletin">
                                 
                                <i class="fa fa-arrow-right pull-right pl-2"></i>
                            </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category text-info">Liste des notes</h5>
                        <h3 class="card-title"><i class="tim-icons icon-send text-info"></i> 
                        </h3>
                    </div>
                    <div class="card-body link text-right pt-1 pb-2 text-info">
                            <a routerLink="/listeNote">
                                 
                                <i class="fa fa-arrow-right pull-right pl-2"></i>
                            </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3">
                <div class="card card-chart">
                    <div class="card-header">
                        <h5 class="card-category text-info">Liste des réclammations</h5>
                        <h3 class="card-title"><i class="tim-icons icon-send text-info"></i> 
                        </h3>
                    </div>
                    <div class="card-body link text-right pt-1 pb-2 text-info">
                            <a routerLink="/ListeRecclammation">
                                <i class="fa fa-arrow-right pull-right pl-2"></i>
                            </a>
                    </div>
                </div>
            </div>
            
        </div>
</div>

